@font-face {
    font-family: 'Chicha Peruana';
    src: url('fonts/Chicha.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Chicha Peruana', sans-serif;
}

body {
    background-color: orange;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
    padding: 20px;
}

.form-container {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    border-radius: 30px;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}

.form-container h2 {
    text-align: center;
    font-weight: bold;
    font-size: 48px;
    background: linear-gradient(to bottom, #ffff00, #ff0000);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    border-bottom: 3px solid orangered;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
}

.form-group input {
    border: 3px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

label {
    font-weight: bold;
}

button {
    border-radius: 5px;
    background-color: blueviolet;
    border: none;
    color: white;
    cursor: pointer;
    text-align: center;
    width: 80%;
    height: 30px;
    font-weight: bold;
    font-size: 16px;
    margin-left: 10%;
    margin-right: 10%;
}